
<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :difficulty %>
  </div>

<!--  <h3 class="text-xl mt-4">Steps</h3>-->
<!--  <div class="my-2" data-controller="nested-rondo" data-nested-rondo-field-class-value="step-field">-->
<!--    <div data-nested-rondo-target="fieldContain">-->
      <%#= f.simple_fields_for :steps do |step| %>
        <%#= render "step_fields", f: step %>
      <%# end %>
<!--    </div>-->
<!--    <div class="links">-->
      <%#= link_to_add_association "Add Step", f, :steps %>
<!--    </div>-->
<!--  </div>-->

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
