
<!--  style="max-width: 540px;"-->
<div id="<%= dom_id recipe %>" class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if recipe.image.attached? %>
        <%= image_tag recipe.image, class: "card-img m-3", style: "max-width: 200px; max-height: 200px; width: auto; height: auto;"%>
      <% else %>
        <%= image_tag 'plate.jpg', class: "card-img m-3", style: "max-width: 200px; max-height: 200px; width: auto; height: auto;filter: grayscale(100%);" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= recipe.description[0,50] %></p>
        <p class="card-text"><small class="text-muted">Difficulty: <%= recipe.difficulty %></small></p>
        <p class="card-text"><small class="text-muted">Author: <%= recipe.user.email %></small></p>
      </div>
    </div>
  </div>
</div>