<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Decription:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= recipe.difficulty %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

</div>
