<div class="m-auto">
  <h1 class="text-center mt-3"><%= @recipe.name.capitalize %></h1>
  <div class="d-flex justify-content-center my-4">

    <% if @recipe.image.attached? %>
      <%= image_tag @recipe.image, style: 'max-width: 400px; max-height: 400px; width: auto; height: auto;' %>
    <% else %>
      <%= image_tag 'plate.jpg', style: 'max-width: 400px; max-height: 400px; width: auto; height: auto; filter: grayscale(100%);' %>
    <% end %>
  </div>

  <ul class="list-group">
    <li class="list-group-item text-center"><strong><%= @recipe.name.capitalize %></strong></li>
    <li class="list-group-item text-center">by <%= @recipe.user.email %></li>
    <li class="list-group-item text-center"><%= @recipe.description %></li>
    <li class="list-group-item text-center"><strong>Difficulty:</strong> - <%= @recipe.difficulty %></li>
    <li class="list-group-item text-center"><strong>Total time:</strong> - <%= @total_time %></li>
    <li class="list-group-item text-center"><strong>Rating:</strong> - <%= @total_rating %> stars</li>
  </ul>


  <div class="container my-4 d-flex justify-content-center flex-wrap-reverse">
    <div class="btn-group" role="group">
      <%= link_to 'Start Cooking', start_cooking_recipe_path(@recipe), class: 'btn btn-primary' %>
      <% if @recipe.user == current_user %>
        <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-success" %>
        <%= link_to 'Delete', @recipe, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete #{@recipe.name}?" }, class: "btn btn-danger" %>
      <% end %>
      <%= link_to "Back to recipes", recipes_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Steps</h2>
        <ul class="list-group">
          <% @recipe.steps.each do |step| %>
            <li class="list-group-item text-center">
              <strong><%= link_to "#{step.name}", cook_step_recipe_path(@recipe, step_id: step.id) %>:</strong>
              <%= step.description[0, 27] + '...' %> - <%= step.time %> minutes
              <% if @recipe.user == current_user %>
                <%= link_to "Edit", edit_step_path(step), class: "btn btn-sm btn-outline-success" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col">
        <h2>Ingredients</h2>
        <ul class="list-group">
          <% @ingredients_steps.each do |ing_st| %>
            <li class="list-group-item">
              <%= ing_st.ingredient.name %>, <%= ing_st.quantity %> <%= ing_st.unit %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


  <h2 class="text-center">Comments</h2>
  <ul class="list-group">
    <% @recipe.comments.reverse.each do |comment| %>
      <li class="list-group-item text-center">
        <strong><%= comment.user.email %>:</strong>
        <%= comment.body %> - <%= comment.rating %> stars
        <% if comment.user == current_user %>
          <%= link_to 'Delete', [comment.recipe, comment], data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete your comment?" }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="form-container w-50 w-sm-100 mx-auto">
    <%= simple_form_for [@recipe, @recipe.comments.build], local: true do |f| %>
      <div class="form-inputs">
        <%= f.input :body, placeholder: "Leave a comment" %>
        <%= f.input :rating, as: :range, input_html: { class: 'form-control-range', min: 1, max: 5, step: 1 } %>
      </div>

      <div class="form-actions d-flex justify-content-center">
        <%= f.submit "Add comment", class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>
