
<%= render @recipe %>

<% if @recipe.image.attached? %>
  <%= image_tag @recipe.image.variant(resize_to_limit: [300, 300]) %>
<% else %>
  <%= image_tag 'plate.jpg', style: 'max-width: 300px; max-height: 300px; width: auto; height: auto; filter: grayscale(100%);' %>
<% end %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>

<p>
  <strong>total time:</strong> - <%= @total_time %>
</p>
<p>
  <strong>rating:</strong> - <%= @total_rating %>
</p>

<h2>Steps:</h2>
<% @recipe.steps.each do |step| %>
  <p>
    <strong><%= link_to "#{step.name}", step %>:</strong>
    <%= step.description[0,17]+'...' %> - <%= step.time %> minutes
    <% if @recipe.user == current_user %>

    <% end %>
  </p>
<% end %>

<h2>Ingredients</h2>
<ul>
  <% @ingredients_steps.each do |ing_st| %>
    <li><%= ing_st.ingredient.name %>, <%= ing_st.quantity %> <%= ing_st.unit %></li>
  <% end %>
</ul>

<%= link_to 'Start Cooking', start_cooking_recipe_path(@recipe), class: 'btn btn-primary' %>



<h2>Comments:</h2>
<% @recipe.comments.reverse.each do |comment| %>
  <p>
    <strong><%= comment.user.email %>:</strong>
    <%= comment.body %> - <%= comment.rating %> stars
    <% if comment.user == current_user %>
      <%= link_to 'Delete', [comment.recipe, comment], data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete your comment?" } %>
    <% end %>
  </p>
<% end %>

<h2>Add a Comment:</h2>
<%= form_with(model: [@recipe, @recipe.comments.build], local: true) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5 %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>