<p style="color: green"><%= notice %></p>

<% content_for :title, "Ingredients" %>

<h1>Ingredients</h1>

<%= form_with(url: ingredients_path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :search, "Search Ingredients" %>
    <%= form.text_field :search, value: params[:search] %>
  </div>
  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>

<div id="ingredients">
  <% @ingredients.each do |ingredient| %>
    <%= render ingredient %>
    <p>
      <%= link_to "Show this ingredient", ingredient %>
    </p>
  <% end %>
</div>

<%= link_to "New ingredient", new_ingredient_path %>
