<p style="color: green"><%= notice %></p>

<% content_for :title, "Ingredients" %>

<div class="container my-4 d-flex justify-content-center flex-wrap-reverse">
  <div class="btn-group" role="group">
    <a class="btn btn-primary" href="<%= new_ingredient_path %>">New ingredient</a>
    <%= form_with(url: ingredients_path, method: :get, local: true,class: "btn-group", role: "group") do |form| %>
      <%= form.text_field :search, value: params[:search],placeholder: "Search Ingredients" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="ingredients">
  <% if @ingredients.any? %>
  <ul class="list-group">
  <% @ingredients.each do |ingredient| %>
      <li class="list-group-item text-center"><strong><%= ingredient.name.capitalize %></strong>
        - <%= link_to "Recipes with this ingredient", recipes_path(search: ingredient.name), class:"btn btn-sm btn-outline-secondary" %>
      </li>
  <% end %>
  </ul>
  <% else %>
    <p>No results found</p>
  <% end %>
</div>

