
<%= simple_form_for([@recipe, @step]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :time %>
    <%= f.input :timer %>
    <%= f.input :image, as: :file %>

  </div>
  <h4>Ingredients</h4>
  <div class="my-2" data-controller="nested-rondo" data-nested-rondo-field-class-value="ingredient-field">
    <div data-nested-rondo-target="fieldContain">

  </div>
  <div class="links">
    <%= link_to_add_association "Add Ingredient", f, :ingredients_steps, class: "btn btn-outline-success" %>
  </div>
    <p> Haven't found your ingredient in the list? Create it <%= link_to "here", new_ingredient_path, target: "_blank" %></p>
  </div>


  <div class="actions">
    <% if @step.persisted? %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Add Another Step", name: 'commit', class: "btn btn-secondary" %>
      <%= f.submit "Finish Recipe", name: 'commit', class: "btn btn-primary" %>
    <% end %>
  </div>


<% end %>
