<div id="<%= dom_id step %>">
  <p>
    <strong>Name:</strong>
    <%= step.name %>
  </p>

  <p>
    <strong>Decription:</strong>
    <%= step.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= step.time %>
  </p>

  <p>
    <strong>Timer:</strong>
    <%= step.timer %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= step.recipe_id %>
  </p>

</div>
