<p style="color: green"><%= notice %></p>

<%= render @step %>

<% if @step.image.attached? %>
  <%= image_tag @step.image.variant(resize_to_limit: [500, 500]) %>
<% else %>
  <%= image_tag 'pot.jpg', style: 'max-width: 500px; max-height: 500px; width: auto; height: auto;' %>
<% end %>

<div>
  <%= link_to "Edit this step", edit_step_path(@step) %> |
  <%= link_to "Back to steps", steps_path %>

  <%= button_to "Destroy this step", @step, method: :delete %>
</div>

<h2>Ingredients:</h2>
<% @step.ingredients_steps.each do |ingredient_step| %>
  <p>
    <strong><%= ingredient_step.ingredient.name %>:</strong>
    <%= ingredient_step.quantity %> - <%= ingredient_step.unit %>
  </p>

<% end %>






